@use 'bootstrap/dist/css/bootstrap.min.css';
@use 'bootstrap-icons/font/bootstrap-icons.css';
@use './loading.scss';

body {
  color: unset;
  background-color: unset;
}

.cursor-font {
  font-family: 'Lucida Console', Monaco, monospace;
}

p {
  margin: 0;
}

ol {
  margin: 0;
}

ul {
  margin: 0;
}