@use 'bootstrap/dist/css/bootstrap.min.css';
@use 'bootstrap-icons/font/bootstrap-icons.css';
@use './loading.scss';

body {
  color: unset;
  background-color: unset;
  font-family: 'Courier New', Courier, monospace;
}



