@use 'bootstrap-icons/font/bootstrap-icons.css';
@use '@tabler/core/dist/css/tabler.min.css';
@use 'element-plus/dist/index.css';

@use './loading.scss';

body {
  line-height: 1.6;
}

p {
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

ol {
  margin-bottom: 0px;
}
